name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  package_name: wasm-compiler-${{ github.ref_name }}.tar.gz

permissions:
  contents: write

jobs:
  release:
    runs-on: [ubuntu-latest]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: get release body
        id: releaseBodyStep
        run: |
          release_body=$(sed -n '/^## /{ :a; n; /^## /q; p; ba; }' RELEASENOTES.md)
          echo -e "Release_body<<EOF\n$release_body\nEOF" >> $GITHUB_OUTPUT

      - name: Initialize submodules
        run: |
          git submodule update --init --recursive --depth=1

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Create venv and install requirements
        run: |
          set -ex
          python -m venv .venv
          . .venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Install wget and unzip
        run: |
          set -ex
          sudo apt-get update
          sudo apt-get install -y wget unzip

      - name: Generate and validate SPDX
        uses: ./.github/actions/spdx-gen

      - name: compress
        run: scripts/archive.sh
        env:
          package_name: ${{ env.package_name }}

      - name: Create GitHub Release and upload artifacts
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          body: ${{ steps.releaseBodyStep.outputs.Release_body }}
          files: ${{ env.package_name }}
