name: Internal

on:
  pull_request:
  merge_group:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  tricore_coverity:
    uses: CDCFW/wasm-common-ci/.github/workflows/coverityCheck.yml@main
    secrets: inherit
    with:
      build-parameters: "-DVB_ENABLE_DEV_FEATURE=OFF -DENABLE_ADVANCED_APIS=ON -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DBACKEND=tricore"
      exclude-files: "(wasm-compiler/thirdparty/.*|/usr/.*)"
      coding-standard-config: "../autosarcpp14-wasm.config"

  x86_64_coverity:
    uses: CDCFW/wasm-common-ci/.github/workflows/coverityCheck.yml@main
    secrets: inherit
    with:
      build-parameters: "-DVB_ENABLE_DEV_FEATURE=OFF -DENABLE_ADVANCED_APIS=ON -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DBACKEND=x86_64"
      exclude-files: "/usr/*"
      coding-standard-config: "../autosarcpp14-wasm.config"

  aarch64_coverity:
    uses: CDCFW/wasm-common-ci/.github/workflows/coverityCheck.yml@main
    secrets: inherit
    with:
      build-parameters: "-DVB_ENABLE_DEV_FEATURE=OFF -DENABLE_ADVANCED_APIS=ON -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DBACKEND=aarch64"
      exclude-files: "/usr/*"
      coding-standard-config: "../autosarcpp14-wasm.config"

  x86-64_qnx_cmake_build_test:
    runs-on: [atc-ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.TECH_USER_ATC_GITHUB_TOKEN }}

      - name: install packages
        run: |
          sudo apt-get update
          sudo apt-get install qemu-system-x86-64 python3-pip python3-scp python3-paramiko python-is-python3 -y --no-install-recommends

      - name: qcc build
        uses: CDCFW/wasm-common-ci@main
        with:
          docker_username: ${{ secrets.TECH_USER_QNUMBER }}
          docker_password: ${{ secrets.TECH_USER_ATC_GITHUB_TOKEN }}
          run: |
            set -ex
            python3 tests/spectest.py
            mkdir -p build_qnx
            cd build_qnx
            export QNXLM_LICENSE_FILE=${{ vars.INTERNAL_QNX_LICENSE_SERVER }}
            cmake .. -DCMAKE_TOOLCHAIN_FILE=../cmake/QNXx86_64Toolchain.cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=qcc -DCMAKE_C_COMPILER=qcc -DVB_ENABLE_DEV_FEATURE=OFF -DENABLE_WERROR=1 -DENABLE_SPECTEST=1 -DENABLE_DEMO=1 -DTEST_VARIANTS=1 -DDISABLE_SPECTEST_WAST=1 -DENABLE_FUZZ=1
            cmake --build . --parallel
            cd ..
            cat ./build_qnx/compile_commands.json | jq -r '.[].file' | xargs -P $(nproc) -I{} clang-tidy -p $(pwd)/build_qnx {}

      - name: setup network
        run: ${{github.workspace}}/scripts/qnx_sh/manage_tap_network.sh

      - name: download qemu image
        uses: robinraju/release-downloader@v1.9
        with:
          repository: "CDCFW/wasm-compiler-ci-resources"
          tag: "v1"
          fileName: "qnxX64-*"
          github-api-url: "https://${{ vars.INTERNAL_GITHUB_API_URL }}"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: move qemu image
        run: |
          mv qnxX64-downloaded ${{github.workspace}}/scripts/qnx_sh/downloaded
          mv qnxX64-disk.img ${{github.workspace}}/scripts/qnx_sh/disk.img
      - name: run spectest
        working-directory: ${{github.workspace}}/scripts/qnx_sh
        run: python3 ssh_to_qemu.py --arch x64

  aarch64_qnx_cmake_build_test:
    runs-on: [cawe-linux-x64-compute-large]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.TECH_USER_ATC_GITHUB_TOKEN }}

      - name: install packages
        run: |
          sudo apt-get update
          sudo apt-get install libsdl2-2.0-0  libvirglrenderer1 libpixman-1-0 libgtk-3-0 python3-pip python3-scp python3-paramiko python-is-python3 -y --no-install-recommends

      - name: qcc build
        uses: CDCFW/wasm-common-ci@main
        with:
          docker_username: ${{ secrets.TECH_USER_QNUMBER }}
          docker_password: ${{ secrets.TECH_USER_ATC_GITHUB_TOKEN }}
          run: |
            set -ex
            python3 tests/spectest.py
            mkdir -p build_qnx
            cd  build_qnx && cmake .. -DCMAKE_TOOLCHAIN_FILE=../cmake/QNXArm64Toolchain.cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=qcc -DCMAKE_C_COMPILER=qcc -DVB_ENABLE_DEV_FEATURE=OFF -DENABLE_WERROR=1 -DENABLE_SPECTEST=1 -DENABLE_DEMO=1 -DTEST_VARIANTS=0 -DDISABLE_SPECTEST_WAST=1 -DENABLE_FUZZ=1 && \
            cmake --build . --parallel

      - name: download qemu image
        run: |
          wget --user ${{ secrets.TECH_USER_CODECRAFT_ACCOUNT }} --password ${{ secrets.TECH_USER_DDAD_ARTIFACTORY_TOKEN }}  https://${{ vars.INTERNAL_QNX_QEMU_ARM64_PATH }}/qnx_arm64.tar.gz
          tar -xvzf qnx_arm64.tar.gz

      - name: setup network
        run: ${{github.workspace}}/qqvp_linux_amd64/manage_tap_network.sh

      - name: run spectest
        working-directory: ${{github.workspace}}/qqvp_linux_amd64/
        run: python3 ../scripts/qnx_sh/ssh_to_qemu.py --arch arm64

  tricore_windows_bazel_build:
    runs-on: [windows-latest]
    env:
      TSK_LICENSE_KEY_SW260800: f18f-52a3-c70c-54d8
      TSK_LICENSE_SERVER: wlic01s1.muc:1890
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: tasking compiler
        uses: robinraju/release-downloader@v1.9
        with:
          repository: "CDCFW/wasm-compiler-ci-resources"
          tag: "v1"
          fileName: "Smartcode_v10.1r1.zip"
          github-api-url: "https://${{ vars.INTERNAL_GITHUB_API_URL }}"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Smartcode
        shell: powershell
        run: |
          $ErrorActionPreference = 'Stop'
          Expand-Archive -Path Smartcode_v10.1r1.zip -DestinationPath ./Smartcode
          echo "${{ github.workspace }}\Smartcode\ctc\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install wabt
        shell: powershell
        run: |
          $ErrorActionPreference = 'Stop'
          Invoke-WebRequest -Uri "https://github.com/WebAssembly/wabt/releases/download/1.0.36/wabt-1.0.36-windows.tar.gz" -OutFile "wabt.tar.gz"
          tar -xzf wabt.tar.gz
          echo "${{ github.workspace }}\wabt-1.0.36\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install Bazel
        shell: powershell
        run: |
          $ErrorActionPreference = 'Stop'
          Invoke-WebRequest -Uri "https://github.com/bazelbuild/bazel/releases/download/7.5.0/bazel-7.5.0-windows-x86_64.exe" -OutFile "bazel.exe"
          Move-Item -Path "bazel.exe" -Destination "$HOME/bazel.exe"
          echo "$HOME" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: gen testcase
        run: python ./tests/spectest.py -f

      - name: bazel build
        shell: powershell
        run: |
          $ErrorActionPreference = 'Stop'
          bazel build //demo:vb_demo --config=Tasking_warning_as_error --platforms=//bazel/platforms:tricore_tasking --action_env=TSK_LICENSE_SERVER=${{ env.TSK_LICENSE_SERVER }} --action_env=TSK_LICENSE_KEY_SW260800=${{ env.TSK_LICENSE_KEY_SW260800 }}

  all-green-internal:
    runs-on: [atc-ubuntu-latest]
    if: always()

    needs:
      - tricore_coverity
      - x86_64_coverity
      - aarch64_coverity
      - x86-64_qnx_cmake_build_test
      - aarch64_qnx_cmake_build_test
      - tricore_windows_bazel_build

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
